body {
    background-color: #e5e2e2;
    color: #333;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', Arial, sans-serif;
    overflow:visible;
    justify-self: center;
    align-items: center;
}
.svg {
    fill: #e5e2e2;
}
.svg1 {
    fill: #d3d3d5
}

/*Bouton jouer*/
.g {
    align-items: center;
    text-align: center;
    font-family: Arial;
    font-size: 2em;
    background-color: #d3d3d5;
}
.g a {
    display: block;
    text-decoration: none;
    color: #362836;
}
.g:hover {
    color: #362836;
    font-size: 2.5em;
    cursor: pointer;
}
.g:active {
    color: #362836;
    font-size: 2.5em;
    cursor: pointer;  
}
/*Barre des taches*/
.bdt {
    background-color: #d3d3d5;
}
.bdt li {
    display: inline;
    float: right;
}
.bdt ul {
    background-color: #a9a9aa;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
.bdt a {
    display: block;
    color: #333;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}
.bdt a:hover {
    color: #b719b8;
}

/*Slider*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    height: 50vh;
    position: relative;
}
.slider img {
    position: absolute;
    object-fit: cover;
    align-items: center;
    height: auto;
    width: auto;
    border: 5px solid#333;
    left: 39.4rem;
    opacity: 0;
    transition: opacity 1s;
}
.slider img.active {
    opacity: 1;
}

.suivant, .precedent{
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    cursor: pointer;
}

.suivant {
   right: 40rem; 
}

.precedent {
    left: 40rem;
}

