/* vrac */
body {
    background-color: #e5e2e2;
    color: #333;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', Arial, sans-serif;
    overflow:visible;
    justify-self: center;
    align-items: center;
}

/*How To Play*/
.idorius img {
    align-items: center;
}

/*cgv*/
.d h1 {
    font-size: 2em;
}
.d {
    margin-left: 2rem;
    margin-right: 2rem;
}
.d a {
    text-decoration: none;
    color: #9711fb;
}
.d h3{
    line-height: 3rem;
    color: #423842;
    opacity: 0.80;
}
.cgvu {
    margin-left: 5rem;
}
.cvge {
    margin-left: 5rem;
}

/* svg */
.svg {
    z-index: 1;
    fill: #e5e2e2;
}
.svg1 {
    z-index: 1;
    fill: #d3d3d5;
}
.svg2 {
    fill: #e5e2e2;
    z-index: 1;
}

/* End */
.end {
    background-color: #a9a9aa;
    margin-top: 250px;
    z-index: 1;
}
.endb {
    background-color: #a9a9aa;
    margin-top: 50px;
    z-index: 1;
}
.end1 {
width: 420px;
position: relative;
z-index: 2;
margin-top: -200px;
margin-left: 5rem;
line-height: 1.5rem;
}

.end2 {
width: 420px;
position: relative;
z-index: 2;
margin-top: -105px;
margin-left: 35rem;
line-height: 1.5rem;
}
.end2 a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-left: 1.5rem;
}
/*Bouton jouer*/
.g {
    align-items: center;
    text-align: center;
    font-family: Arial;
    font-size: 2em;
    background-color: #d3d3d5;
    transition: transform .1s;
    z-index: 2;
}
.g a {
    display: block;
    text-decoration: none;
    color: #362836;
}
.g:hover {
    transform: scale(1.23);
    cursor: pointer;
}
.g:active {
    color: #362836;
    transform: scale(1.23);
    cursor: pointer;  
}

/*Shop*/
.shop {
    left: 3rem;
}
.barre {
    position: relative;
    height: 300px;
    width: 1270px;
    top: 40px;
}
.shadowgr {
    border: 0.5rem solid #9711fb;
    height: 811px;
    width: 400px;
    background-color: #d3d3d5;
    margin-left: 68rem;
    transition: transform .1s;
}
.shadowgr:hover {
    transform: scale(1.05);
}
.shadow {
    width: 384px;
}
.shadowgr a {
    text-decoration: none;
    color: #333;
    font-family: 'Prompt', Arial;
    font-size: 2em;
    text-align: center;
    left: 2rem;
}
.shadowtxt {
    background-color: #9711fb;
    color: #d3d3d5;
}

.shopgr {
    border: 0.5rem solid #9711fb;
    height: 316px;
    width: 400px;
    background-color: #d3d3d5;
    margin-left: 25rem;
    margin-top: -35rem;
    transition: transform .1s;
}
.shopgr:hover {
    transform: scale(1.05);
}
.shopimg {
    width: 384px;
}
.shopgr a {
    text-decoration: none;
    color: #333;
    font-family: 'Prompt', Arial;
    font-size: 2em;
    text-align: center;
    left: 2rem;
}
.shoptxt {
    background-color: #9711fb;
    color: #d3d3d5;
}

/*Barre des taches*/
.bdt {
    background-color: #d3d3d5;
}
.bdt li {
    display: inline;
    float: right;
}
.bdt ul {
    background-color: #a9a9aa;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
.bdt a {
    display: block;
    color: #333;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.bdt a:hover {
    color: #9711fb;
}

/*Slider*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    height: 50vh;
    position: relative;
}
.slider img {
    position: absolute;
    object-fit: cover;
    align-items: center;
    height: auto;
    width: auto;
    border: 5px solid#333;
    left: 39.4rem;
    opacity: 0;
    transition: opacity 1s;
}
.slider img.active {
    opacity: 1;
}

.suivant, .precedent{
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    cursor: pointer;
}

.suivant {
   right: 40rem; 
}

.precedent {
    left: 40rem;
}

