/* vrac */
body {
    background-color: #e5e2e2;
    color: #333;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', Arial, sans-serif;
    overflow:visible;
    justify-self: center;
    align-items: center;
}

/* formulaire */
.formulaire {
    margin-left: 35%;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
form {
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    width: 500px
  }
  form h1 {
    font-size: 20px;
  }
  form .separation {
    width: 435px;
    height: 1px;
    background-color: #9711fb;
  }
  form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  form .corps-formulaire .groupe {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
  }
  form .corps-formulaire .gauche .groupe i {
    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
  }
  form .corps-formulaire .droite {
    margin-left: 40px;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #9711fb;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
  }
  form .pied-formulaire button {
    margin-top: 10px;
    background-color: #9711fb;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
  }
  
  @media screen and (max-width: 920px) {
    form .corps-formulaire .droite {
      margin-left: 0px;
    }
  }
  
/*How To Play*/
/* Bouton liquid de mort */
.f
{
  display: block;
  position: relative;
  text-decoration: none;
  width: 300px;
  padding: 25px 0;
  overflow: hidden;
  box-shadow: 0 0 4px rgb(69,255,195,0.7), 0 0 25px rgba(69,255,195,0.5), 0 0 40px rgba(69,255,195,0.3);
  border-radius: 10px;
  border: 3px solid #333;
  cursor: pointer;
}
.f span
{
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}
.f .liquid
{
  width: 300px;
  height: 300px;
  background: #9711fb;
  position: absolute;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  top: -80px;
  left: 0;
  transition: 0.5s;
}
.f .liquid:before,
.f .liquid:after
{
  width: 140%;
  height: 130%;
  background: #000;
  position: absolute;
  top: 8%;
  left: 40%;
  content: "";
  transform: translate(-50%, 75%);
}
.f .liquid:before
{
    border-radius: 45%;
  background: rgba(0, 0, 0, 0.5);
  animation: shake 5s linear infinite;
}
.f .liquid:after
{
    border-radius: 40%;
  background: #a9a9aa;
  animation: shake 10s linear infinite;
}
@keyframes shake
{
  0%
  {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100%
  {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.f:hover .liquid
{
  top: -160px;
  transition: 1.5s;
}
.glossy
{
  display: block;
  position: absolute;
  width: 300px;
  top: 0;
  background: #ffffff00;
  padding: 36.8px;
  box-shadow: inset 0 0 4px rgba(255,255,255), inset 0 0 25px rgba(255,255,255), inset 0 0 40px rgba(255,255,255);

  opacity: 40%;
}
.tutop {
    text-align: center;
}
.tutop a {
    text-decoration: none;
    color: #9711fb;
}
.z h3 {
line-height: 3rem;
color: #423842;
opacity: 0.80;
}
.z {
    text-align: center;
}
/*cgv*/
.e a {
    text-decoration: none;
    color: #9711fb;
}
.d h1 {
    font-size: 2em;
}
.d {
    margin-left: 2rem;
    margin-right: 2rem;
}
.d a {
    text-decoration: none;
    color: #9711fb;
}
.d h3{
    line-height: 3rem;
    color: #423842;
    opacity: 0.80;
}
.cgvu {
    margin-left: 5rem;
}
.cvge {
    margin-left: 5rem;
}

/* svg */
.svg {
    z-index: 1;
    fill: #e5e2e2;
}
.svg1 {
    z-index: 1;
    fill: #d3d3d5;
}
.svg2 {
    fill: #e5e2e2;
    z-index: 1;
}

/* End */
.end {
    background-color: #a9a9aa;
    margin-top: 250px;
    z-index: 1;
}
.endb {
    background-color: #a9a9aa;
    margin-top: 50px;
    z-index: 1;
}
.enda {
    background-color: #a9a9aa;
    margin-top: 200px;
    z-index: 1;
}
.endc {
    background-color: #a9a9aa;
    margin-top: -216px;
    z-index: 1;
}
.end1 {
width: 420px;
position: relative;
z-index: 2;
margin-top: -200px;
margin-left: 5rem;
line-height: 1.5rem;
}

.end2 {
width: 420px;
position: relative;
z-index: 2;
margin-top: -105px;
margin-left: 37.5rem;
line-height: 1.5rem;
}
.end2 a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-left: 1.5rem;
}
.end3 a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-left: 1rem;
}
.end4 a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-left: 1rem;
}

.end3 {
width: 420px;
position: relative;
z-index: 2;
margin-top: -45px;
margin-left: 60rem;
line-height: 1.5rem;  
}
.end4 {
    width: 100px;
    position: relative;
    z-index: 2;
    margin-top: -45px;
    margin-left: 22.5rem;
    line-height: 1.5rem;
}

/*Bouton jouer*/
.g {
    align-items: center;
    text-align: center;
    font-family: Arial;
    font-size: 2em;
    background-color: #d3d3d5;
    transition: transform .1s;
    z-index: 2;
}
.g a {
    display: block;
    text-decoration: none;
    color: #362836;
}
.g:hover {
    transform: scale(1.23);
    cursor: pointer;
}
.g:active {
    color: #362836;
    transform: scale(1.23);
    cursor: pointer;  
}

/*Shop*/
.shop {
    left: 3rem;
}
.barre {
    position: relative;
    height: 300px;
    width: 1270px;
    top: 40px;
}
.shadowgr {
    border: 0.5rem solid #9711fb;
    height: 811px;
    width: 400px;
    background-color: #d3d3d5;
    margin-left: 68rem;
    transition: transform .1s;
}
.shadowgr:hover {
    transform: scale(1.05);
}
.shadow {
    width: 384px;
}
.shadowgr a {
    text-decoration: none;
    color: #333;
    font-family: 'Prompt', Arial;
    font-size: 2em;
    text-align: center;
    left: 2rem;
}
.shadowtxt {
    background-color: #9711fb;
    color: #d3d3d5;
}

.shopgr {
    border: 0.5rem solid #9711fb;
    height: 316px;
    width: 400px;
    background-color: #d3d3d5;
    margin-left: 25rem;
    margin-top: -35rem;
    transition: transform .1s;
}
.shopgr:hover {
    transform: scale(1.05);
}
.shopimg {
    width: 384px;
}
.shopgr a {
    text-decoration: none;
    color: #333;
    font-family: 'Prompt', Arial;
    font-size: 2em;
    text-align: center;
    left: 2rem;
}
.shoptxt {
    background-color: #9711fb;
    color: #d3d3d5;
}

/*Barre des taches*/
.bdt {
    background-color: #d3d3d5;
}
.bdt li {
    display: inline;
    float: right;
}
.bdt ul {
    background-color: #a9a9aa;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
.bdt a {
    display: block;
    color: #333;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.bdt a:hover {
    color: #9711fb;
}

/*Slider*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    height: 50vh;
    position: relative;
}
.slider img {
    position: absolute;
    object-fit: cover;
    align-items: center;
    height: auto;
    width: auto;
    border: 5px solid#333;
    left: 39.4rem;
    opacity: 0;
    transition: opacity 1s;
}
.slider img.active {
    opacity: 1;
}

.suivant, .precedent{
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    cursor: pointer;
}

.suivant {
   right: 40rem; 
}

.precedent {
    left: 40rem;
}

;